/* Base Styles -------------------------------- */

.main-header {
  height: 200px;
  padding-top: 100px;
  padding-left: 50px;
  background: linear-gradient(#AA98A9, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
             #ffa949 url('../img/headerbcg.jpg') no-repeat center;
  
  background-size: cover;

}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
	color: #384047;
	padding: 10px 0 80px;
    margin: 0;
}
div {
	width: 52%;
	margin: auto;
}
h1 {
    text-align: center;
	margin-bottom: 36px;
}
p {
	margin-bottom: 24px;
  font-weight: 200;
}
ul {
	font-size: 1.25rem;
	list-style: none;
	margin-top: 36px;
	padding: 0;
}
li {
	margin-bottom: 16px;
}
a {
	color: #4183c4;
}

a {
 text-decoration: none; 
}

row {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
 max-width: 100%; 
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

h3{
 margin: 0 0 1em 0;
}

/*******************************
FOOTER
********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.main-footer {
	padding: 2em 0;
	margin-top: 30px;
}

/* Header------------------------------------------*/

nav li {
  display: inline-block;
    
}
\nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}


/* Body-------------------------------------------*/




.intro {
    margin: auto;
    padding-left: 5px;
    
}



/*******************************
PAGE: ABOUT
********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}




/*******************************
COLORS
********************************/



/* links */
a {
  color: #2D97A5;
}


/* nav link */
nav a, nav a:visited {
 color: #000; 
}

/* selected nav link */
nav a.selected,  nav a:hover {
  color: #B3CE8D;
}

/* Substring Matching Attribute Selectors ---- */

a[href^="http:"] {
  color: #52bab3;
  text-decoration: none;
}

/* Pseudo-elements -------------------------------- */

.intro::first-line {
  font-weight: bold;
  font-size 1.4em;
}

.intro::first-letter {
  float: left;
  font-size: 60px;
  color: white;
  padding: 5px 10px;
  background: #384047;
  margin:10px 10px 0 0;
  border-radius: 5px;
  line-height: 1;
}

